<!DOCTYPE html>
<html>

<head>
    <title>Demo</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta content="telephone=no" name="format-detection">
    <meta name="viewport"
          content="width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no">

    <!--库-->
    <script type="text/javascript" src="/js/remauto.js"></script>


    <!-- 引入样式文件 -->
    <link rel="stylesheet" href="/css/vant_index@2.8rem.css" />
    <style>
        /*自定义滚动条的伪对象选择器, CSS 可以隐藏滚动条*/
        ::-webkit-scrollbar {
            display: none;
        }

        .left-container {
            margin-top: 0rem;
        }

        .right-container {
            padding-right: 0rem;
        }

        .main-container {
            padding: 1rem 1rem 1rem 1rem;
        }

            .main-container .head-img {
                width: 100%;
            }


        .van-cell__title {
            font-size: 1rem;
            font-weight: 700;
        }

        .file-list {
            padding: 1rem 0rem 0rem 0rem;
        }

        a,
        a:link,
        a:visited {
            text-decoration: none;
        }
    </style>
    <script type="text/javascript" language="javascript">

        function Init() {
            fn_InitVue();
        }
        function getExt(filePath) {
            //获取最后一个.的位置
            var index = filePath.lastIndexOf(".");
            //获取后缀
            var ext = filePath.substr(index + 1);
            return ext;
        }

        function fn_InitVue() {

            vueObj = new Vue({
                el: '#app',
                data: {
                    username: 'u1',
                    password: 'p1',

                    maxHeightMain: (window.innerHeight - 100) + 'px',
                },
                methods: {
                    onLogin: function () {
                        var timestamp = parseInt(new Date().getTime() / 1000);
                        var sign = md5(this.username + this.password + timestamp).toUpperCase();
                        var data = { username: this.username, timestamp: timestamp, sign: sign };
                        $.ajax({
                            url: "/getToken",
                            data: JSON.stringify(data),
                            type: "POST",
                            // 告诉jQuery不要去设置Content-Type请求头
                            contentType: "application/json",
                            dataType: "json",
                            beforeSend: function (request) {
                                var token = localStorage.getItem("Token");
                                request.setRequestHeader("Token", token);
                            },
                            success: function (jsonData) {
                                if (jsonData instanceof Object && jsonData.resultCode == 0) {
                                    var result = jsonData.resultBody;
                                    localStorage.setItem("Token", result.tokenkey);
                                }
                            },
                            error: function (jsonData) {
                                vant.Dialog.alert({
                                    title: '失败提示',
                                    message: JSON.stringify(jsonData),
                                }).then(() => {
                                });
                            }
                        });
                    }
                },
                computed: {
                    disabled() {
                        return this.loading || this.noMore
                    }
                },
                mounted: function () {
                    var vueObjTemp = this;
                    setTimeout(function () {
                        vueObjTemp.maxHeightMain = (window.innerHeight - $(".top-container").outerHeight() - $("#footerid").outerHeight() - 5) + 'px';
                    }, 1000);
                    setInterval(function () {

                    }, 2000);

                }
            });


        }

    </script>
</head>

<body onload="Init()">
    <div id="app">
        <van-row>
            <van-col class="left-container" span="0" style="display:none;">

            </van-col>
            <van-col class="right-container" span="24">
                <van-row class="top-container">

                </van-row>
                <van-row class="main-container">
                    <van-col span="24" style="text-align: center;">

                        <van-cell-group>
                            <van-field v-model="username" label="用户名" placeholder="请输入用户名" />
                        </van-cell-group>
                        <van-cell-group>
                            <van-field v-model="password" label="密码" type="password" placeholder="请输入密码" />
                        </van-cell-group>
                    </van-col>

                    <van-button type="primary" block @click="onLogin();">登录</van-button>
                </van-row>
            </van-col>

        </van-row>
    </div>

    <!-- import Vue before Element -->
    <script type="text/javascript" src="/js/md5.js"></script>
    <script src="https://cdn.bootcdn.net/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.11"></script>
    <script src="https://cdn.jsdelivr.net/npm/vant@2.8/lib/vant.min.js"></script>
</body>

</html>